div{
background-color:lightblue;
margin-left: 530px;
width:200px;

}
img{

  margin-left: 430px;
  margin-top: 100px;

 height:200px;
  width:400px;
}
.btn{
  margin-left: 530px;
}
body{
  background-color: lightblue;
}
.signup{
  margin-left: 530px;
}
